{% extends "fullPattern.html" %}
{% load static %}
<div id="content">
    {% block content %}
      <div class="font-size">
    <div class="container">
        <div class="game_content">
          <h1>Змейка</h1>
          <label id="image">     
                <img src="{% static "images/snake.png"%}" width=50% height=50%>
          </label>

          <label id="video">
            <br>
            <video src="{% static "video/snake.mp4"%}" controls width="70%"> Видео не найдено
            </video>
            
          </label>

          <label id="description">
            <br>
            <span>Вам не хватают ретро игры? Скачайте игру Змейка и играйте в лучшие классические игры! Верните время назад и наслаждайтесь, потому что простые игры самые увлекательные!
          </label>
           <label id="hmm">
           </label>  
          <br>
          <form action="2048" method="post">
            {% csrf_token %}
          <input type="submit" value="Играть">	
          </form>
        </div>
      </div>
  </div>
     {% endblock %}
<div>