{% extends "fullPattern.html" %}
{% load static %}
<div id="content">
    {% block content %}
      <div class="font-size">
    <div class="container">
        <div class="game_content">
          <h1>Тетрис</h1>
          <label id="image">     
                <img src="{% static "images/tetris.jpg"%}" width=70% height=70%>
          </label>

          <label id="video">
            <br>
            <video src="{% static "video/tetris.mp4"%}" controls width="70%"> Видео не найдено
            </video>
            
          </label>

          <label id="description">
            <br>
            <span>Случайные фигурки тетрамино падают сверху в прямоугольный стакан шириной 10 и высотой 20 клеток. В полёте игрок может поворачивать фигурку на 90° и двигать её по горизонтали. Также можно «сбрасывать» фигурку, то есть ускорять её падение, когда уже решено, куда фигурка должна упасть. Фигурка летит до тех пор, пока не наткнётся на другую фигурку либо на дно стакана. Если при этом заполнился горизонтальный ряд из 10 клеток, он пропадает и всё, что выше него, опускается на одну клетку. Дополнительно показывается фигурка, которая будет следовать после текущей — это подсказка, которая позволяет игроку планировать действия. Темп игры постепенно ускоряется. Игра заканчивается, когда новая фигурка не может поместиться в стакан. Игрок получает очки за каждый заполненный ряд, поэтому его задача — заполнять ряды, не заполняя сам стакан (по вертикали) как можно дольше, чтобы таким образом получить как можно больше очков.
          </label>
           <label id="hmm">
           </label>  
          <br>
          <form action="tetris" method="post">
            {% csrf_token %}
          <input type="submit" value="Играть">	
          </form>
        </div>
      </div>
  </div>
     {% endblock %}
<div>