{% extends "fullPattern.html" %}
{% load static %}
<div id="content">
    {% block content %}
      <div class="font-size">
    <div class="container">
        <div class="game_content">
          <h1>Пинг-понг</h1>
          <label id="image">     
                <img src="{% static "images/pingpong.jpg"%}" width=50% height=50%>
          </label>

          <label id="video">
            <br>
            <video src="{% static "video/pingpong.mp4"%}" controls width="70%"> Видео не найдено
            </video>
            
          </label>

          <label id="description">
            <br>
            <span>Соревнуйтесь онлайн с настоящими игроками в захватывающих многопользовательских сражениях в пинг-понг.
          </label>
           <label id="hmm">
           </label>  
          <br>
          <form action="2048" method="post">
            {% csrf_token %}
          <input type="submit" value="Играть">	
          </form>
        </div>
      </div>
  </div>
     {% endblock %}
<div>