{% extends "fullPattern.html" %}
{% load static%}
  <div id="content">
    {% block content %}
    <br/> <br/> <br/>
    <div>
    {% if user.is_authenticated %}
    {% csrf_token %}
    <div id="choise">
      <h1 id="tab">Личные данные</h1>
      <h1 id="last_tab"> Игровая статистика</h1>
    </div>
    <!-- <h1>{{user}}</h1> -->
    <div class="profile_information">
      <div class="one_line" id="Name">
        <h2>Имя: </h2>
        <h2>{{user}}</h2>
      </div>
      <div id="e-mail">  
        <div class="e-mail one_line">
          <h2>Почта: </h2>
          <form id="ch_e-mail_form" class="one_line invisible" action="" method="POST">
            {% csrf_token %}
            {{ form.email}}
            <input class="button_1" name="ch_e-mail" type="button" id="change_e-mail" value="сохранить">
            <input class="button_2" type="button" id="canel_change_e-mail" value="отмена">
          </form>
          <div id="e-mail_show" class="real_e-mail one_line visible">
            <h2>{{user.email}}</h2>
            <input class="button_2" type="button" id="start_change_e-mail" value="изменить">
          </div>
        </div>
      </div>
      <div id="password">
        <input class="button_2" type="button" id="change_pass" value="сменить пароль">
      </div>
    </div>
    <!-- <h1>Hello, {{user}}</h1>
      {% if user.profile.check_phone %}
        <form class="phone" action="" method="POST">
        {% csrf_token %}
        <h1>Your phone, {{user.profile.phone}}</h1>
        <input type="submit" name="delete" value="Удалить">	
        </form>
        {% else %}
        <form class="phone" action="" method="POST">
        {% csrf_token %}
        {{ form.LoginForm}}
        <h1>Phone:</h1>
        <label for="{{ form.phone.id_for_label}}" >
          <div class="tst1" >
          {{ form.phone}}
          </div>
        </label>
        <input type="submit" name="add">	
        </form>
      {% endif %} -->
    {% else %}
    <h1>Please login to see this page.</h1>
    {% endif %}
    </div>
    <script src="{% static 'scripts/profileScripts.js' %}"></script>
    {% endblock %}
  </div>